<table class="table">
    <thead>
        <th scope="col">Comic #</th>
        <th scope="col">Published</th>
        <th scope="col">Title</th>
        <th scope="col">Comic Link</th>
        <th scope="col">Comic Image URL</th>
        {% if comic.alt_text %}<th scope="col">Alt Text</th>{% endif %}
        {% if comic.transcription %}<th scope="col">Transcription</th>{% endif %}

    </thead>

    <tbody>
        <tr>
            <th scope="row">{{ comic.comic_num }}</th>
            <td>{{ comic.month }}-{{ comic.day }}-{{ comic.year }}</td>
            <td>{{ comic.title }}</td>
            <td>{% if comic.url %}{{ comic.url }}{% else %}<a
                    href="https://xkcd.com/{{ comic.comic_num }}">https://xkcd.com/{{
                    comic.comic_num }}{% endif %}</a></td>
            <td><a href="{{ comic.img_url }}">{{ comic.img_url }}</a></td>
            {% if comic.alt_text %}<td>Alt Text</td>{% endif %}
            {% if comic.transcription %}<td>Transcription</td>{% endif %}
        </tr>
    </tbody>

</table>