<nav class="uk-navbar-container uk-background-secondary uk-light">
  <div class="uk-container uk-background-secondary uk-light">
  
    <div class="uk-background-secondary uk-light" uk-navbar>

      <div class="uk-navbar-left uk-background-secondary uk-light">

        <li class="uk-navbar-item uk-logo"><a href="/">auto-xkcd</a></li>

        <ul class="uk-background-secondary uk-light" uk-dropnav="dropbar: true">
          <li>
            <a {% if page_title == 'comics' %}class="uk-active" {% endif %}href="/comics">comics <span uk-drop-parent-icon></a>

          <div class="uk-navbar-dropdown uk-background-secondary uk-light">
            <ul class="uk-nav uk-navbar-dropdown-nav uk-background-secondary uk-light">
              <li class="{% if page_title == 'all comics' %}uk-active{% endif %}"><a href="/comics/all">all comics</a></li>

              <hr class="uk-divider">
              
              <li><a {% if page_title == 'random comic' %}class="uk-active" {% endif %}href="/comics/random">random comic</a></li>
              <li><a {% if page_title == 'search comics' %}class="uk-active "{% endif %}href="#">search comics</a></li>
              
            </ul>
          </div>
        </li>

      </div>

    </div>

  </div>
</nav>
