{% extends "base.html" %}

{% block main_content %}
<section class="py-2 text-center container">

    <div class="row py-lg-4">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Current XKCD Comic</h1>

            <!-- <p class="lead text-body-secondary"><small>#{{ comic.comic_num }}</small> <a
                    href="https://xkcd.com/{{ comic.comic_num }}">{{ comic.title }}</a></p> -->
        </div>
    </div>

</section>

<div class="container-fluid justify-content-center pb-3">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            {% include "components/cards/comic_card.html" %}
        </div>
    </div>
</div>
{% endblock main_content %}