<!-- Comic info modal button -->
<button type="button" class="btn btn-outline-light text-white btn-lg mt-2" data-bs-toggle="modal"
    data-bs-target="#comic{{ comic.comic_num }}InfoModal">
    <i class="bi bi-info-circle"></i>
</button>

<!-- Comic info modal -->
<div class="modal fade" id="comic{{ comic.comic_num }}InfoModal" tabindex="-1"
    aria-labelledby="comic{{ comic.comic_num }}InfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body text-start">

                <div class="card text-bg-dark">
                    <img src="data:image/png;base64,{{ comic_img }}" class="img-fluid card-img-top"
                        alt="{% if comic.alt_text %}{{ comic.alt_text }}{% else %}Rendered Image{% endif %}">

                    <div class="card-header text-center">
                        #{{ comic.comic_num }} - {{ comic.title }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Published: {{ comic.month }}-{{ comic.day }}-{{ comic.year }}
                        </li>
                        <li class="list-group-item">URL: {% if comic.url %}{{ comic.url }}{% else %}<a
                                href="https://xkcd.com/{{ comic.comic_num }}">https://xkcd.com/{{
                                comic.comic_num }}</a>{% endif %}</li>
                        {% if comic.alt_text %}
                        <li class="list-group-item">
                            Alt Text: {{ comic.alt_text }}
                        </li>
                        {% endif %}
                        {% if comic.transcription %}<li class="list-group-item">Transcription: {{ comic.transcription }}
                        </li>{% endif %}
                        <li class="list-group-item">
                            Comic Image URL: <a href="{{ comic.img_url }}">{{ comic.img_url }}</a>
                        </li>
                        <li class="list-group-item">
                            Permalink: <a href="/comics/{{ comic.comic_num }}">/{{ comic.comic_num }}</a>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer text-bg-dark justify-content-center">
                <button type="button" class="btn btn-lg btn-outline-light text-white" data-bs-dismiss="modal"><i
                        class="bi bi-x-circle"></i></button>
            </div>

        </div>
    </div>
</div>