<!-- Comic info modal button -->
<button type="button" class="btn btn-outline-light rounded-circle text-white btn-lg mt-2" data-bs-toggle="modal"
    data-bs-target="#comic{{ comic.comic_num }}InfoModal">
    <i class="bi bi-info-circle"></i>
</button>

<!-- Comic info modal -->
<div class="modal modal-xl modal-dialog-scrollable fade" id="comic{{ comic.comic_num }}InfoModal" tabindex="-1"
    aria-labelledby="comic{{ comic.comic_num }}InfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="card text-center">

                <!-- Modal header -->
                <div class="modal-header text-bg-dark text-center">
                    <div class="container">
                        <p class="lead">scroll down for comic info</p>
                        <small><a class="btn btn-outline-light text-white"
                                href="#comic{{ comic.comic_num }}MetadataTable"><i
                                    class="bi bi-chevron-compact-down"></i></a></small>
                    </div>

                </div>

                <!-- Modal body -->
                <div class="modal-body text-start">

                    <div class="card text-bg-dark">
                        <img src="data:image/png;base64,{{ comic_img }}" class="img-fluid card-img-top"
                            alt="{% if comic.alt_text %}{{ comic.alt_text }}{% else %}Rendered Image{% endif %}">

                        <div class="card-header text-center" id="comic{{ comic.comic_num }}MetadataTable">
                            <h1 class="display">
                                #{{ comic.comic_num }} - {{ comic.title }}
                            </h1>

                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <ul class="list-inline">

                                    {% if is_current_comic %}
                                    <li class="list-inline-item">
                                        <!-- If comic is current XKCD comic, show a "current" badge -->
                                        {% include "components/badges/current_comic_badge.html"
                                        %}
                                    </li>
                                    {% endif
                                    %}

                                    <li class="list-inline-item">
                                        Comic Number: {{ comic.comic_num }}
                                    </li>

                                </ul>
                            </li>
                            <li class="list-group-item">
                                Published: {{ comic.month }}-{{ comic.day }}-{{ comic.year }}
                            </li>
                            <li class="list-group-item">URL: {% if comic.url %}{{ comic.url }}{% else %}<a
                                    href="https://xkcd.com/{{ comic.comic_num }}">https://xkcd.com/{{
                                    comic.comic_num }}</a>{% endif %}</li>
                            {% if comic.alt_text %}
                            <li class="list-group-item">
                                Alt Text: {{ comic.alt_text }}
                            </li>
                            {% endif %}
                            {% if comic.transcription %}<li class="list-group-item">Transcription: {{
                                comic.transcription }}
                            </li>{% endif %}
                            <li class="list-group-item">
                                Comic Image URL: <a href="{{ comic.img_url }}">{{ comic.img_url }}</a>
                            </li>
                            <li class="list-group-item">
                                Permalink: <a href="/comics/{{ comic.comic_num }}">/{{ comic.comic_num }}</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer text-bg-dark justify-content-center">
                    <button type="button" class="btn btn-lg btn-danger text-white" data-bs-dismiss="modal"><i
                            class="bi bi-x-circle"></i></button>
                </div>

            </div>

        </div>
    </div>
</div>