<!-- <form role="search">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
</form> -->
<form class="form-inline my-2 my-lg-0" action="/comics" method="GET">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search comic #" name="comic_num" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
        </div>
    </div>
</form>