############
# DATABASE #
############

## Default: sqlite
DB_TYPE=
## Default: sqlite+pysqlite
DB_DRIVERNAME=
## Default: 
DB_USERNAME=
## Default: 
DB_HOST=
## Default: 
DB_PORT=
## Default: ./container_data/dev/.data/auto-xkcd.dev.sqlite
DB_DATABASE=
## Default: true
DB_ECHO=

#########
# MINIO #
#########

## Default: ""
AUTOXKCD_MINIO_ADDRESS=
## Default: 9000
AUTOXKCD_MINIO_PORT=
## Default: true
AUTOXKCD_MINIO_HTTPS=false
## Default: auto-xkcd
AUTOXKCD_MINIO_USERNAME=
## Default: ""
AUTOXKCD_MINIO_PASSWORD=
## Default: ""
AUTOXKCD_MINIO_ACCESS_KEY=
## Default: ""
AUTOXKCD_MINIO_ACCESS_SECRET=
