<div class="uk-card uk-card-default uk-width-1-2@m">

    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">#{{ comic.comic_num }} {{ comic.title }}</h3>

                <p class="uk-text-meta uk-margin-remove-top"><time
                        date="{{ comic.year }}-{{ comic.month }}-{{ comic.day }}">{{ comic.year }}-{{ comic.month }}-{{
                        comic.day }}</time></p>
            </div>

        </div>
    </div>

    <div class="uk-card-body">

        <div class="uk-card-media-bottom">
            <img src="data:image/png;base64,{{ comic_img }}" alt="Rendered Image">
        </div>

    </div>

    <div class="uk-card-footer">

        {% if comic.alt_text %}<p>alt text: <span class="uk-text-italic">{{ comic.alt_text }}</span></p> {% endif %}

        <hr class="uk-divider">

        <p uk-margin>
            <a href="https://www.xkcd.com/{{ comic.comic_num }}" class="uk-button uk-button-default"><ion-icon
                    name="link-outline"></ion-icon> On
                XKCD</a>
            <a href="/comics/{{ comic.comic_num }}"
                class="uk-button uk-button-default{% if page_title == '#' + comic.comic_num|string %} uk-hidden{% endif %}"><ion-icon
                    name="document-outline"></ion-icon> Comic Page</a>
        </p>
    </div>

</div>