<div class="uk-card uk-card-default uk-width-1-2@m">

    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ comic.title }}</h3>

                <p class="uk-text-meta uk-margin-remove-top"><time date="{{ comic.year }}-{{ comic.month }}-{{ comic.day }}">{{ comic.year }}-{{ comic.month }}-{{ comic.day }}</time></p>
            </div>

        </div>
    </div>

    <div class="uk-card-body">

        <div class="uk-card-media-bottom">
            <img src="data:image/png;base64,{{ comic_img }}" alt="Rendered Image">
        </div>

    </div>

    <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">...</a>
    </div>

</div>