<div class="card">
    <div class="card-header text-center text-bg-dark">
        <p class="display">
            <span><i class="bi bi-activity"></i></span> Backend Stats
        </p>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col p-2">
                <!-- Stats card -->
                {% include "pages/admin/components/cards/stats_tbl_card.html" %}
            </div>
            <div class="col p-2">
                <!-- Dir sizes card -->
                {% include "pages/admin/components/cards/dir_sizes_tbl_card.html" %}
            </div>
        </div>
    </div>

    <div class="card-footer text-center text-bg-dark">
        <div class="row justify-content-center">

        </div>
    </div>
</div>