<div class="card border-secondary text-center">
    <div class="card-header text-bg-dark">
        <div class="row row-cols-3 g-2 g-lg-3">

            <div class="col text-start">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://xkcd.com/{{ comic.comic_num }}" class="btn btn-primary mt-2"><ion-icon
                                name="link-outline"></ion-icon></a>
                    </li>

                    <li class="list-inline-item">
                        {% include "components/modals/comic_card_info_modal.html" %}
                    </li>
                </ul>
            </div>

            <div class="col">
                <h2>
                    #{{ comic.comic_num }}
                </h2>
            </div>

            <div class="col text-end">
                <h5>
                    {% if is_current_comic %}{% include "components/badges/current_comic_badge.html" %}{% endif %}
                </h5>
            </div>
        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ comic.title }}</h5>
        {% if comic.alt_text %}<p class="card-text">{{ comic.alt_text }}</p>{% endif %}

        <div class="container-fluid">
            <img src="data:image/png;base64,{{ comic_img }}" class="img-fluid"
                alt="{% if comic.alt_text %}{{ comic.alt_text }}{% else %}Rendered Image{% endif %}">
        </div>
    </div>
    <div class="card-footer text-bg-dark">
        <div class="row row-cols-3 g-2 g-lg-3">

            <div class="col">

            </div>

            <div class="col">

            </div>

            <div class="col">

            </div>

        </div>
    </div>

</div>