<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Path</th>
            <th scope="col">Size (bytes)</th>
            <th scope="col">Size (str)</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">

        {% for _path in dir_stats_list %}

        <tr>
            <th scope="row">{{ _path.dir_name }}</th>
            <td scope="row">{{ _path.dir_path }}</td>
            <td scope="row">{{ _path.size_in_bytes }}</td>
            <td scope="row">{{ _path.size_str }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>